@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
    }
}
@media (prefers-color-scheme: dark) { 
    body {
        background-color: #18191a;
        color: #ffffff;
    }
    .tooltip-inner {
        background-color: #ffffff;
        color:#000000;
    }
    .bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
        border-top-color: #ffffff;
    }
    /*
    .footer__copyright {
        color: #212529;
    }
    */
}